:host {
  display: inline-block;
}

.button {
  font-family: inherit;
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  border-radius: var(--border-radius-default);
}

.button--small {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-4);
  padding: var(--sp-1_5) var(--sp-2_5) var(--sp-1_5) var(--sp-2_5);
}

.button--medium {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-4);
  padding: var(--sp-2) var(--sp-3) var(--sp-2) var(--sp-3);
}

.button--large {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-5);
  padding: var(--sp-2) var(--sp-4) var(--sp-2) var(--sp-4);
}

.button--contained {
  border-width: var(--border-width-default);
  border-color: var(--color-transparent);
}

.button--contained-default {
  color: var(--color-primary-main);
  background-color: var(--color-transparent);
}

.button--contained-default:hover {
  background-color: var(--color-blue-50);
}

.button--contained-primary {
  color: var(--color-primary-contrast-text);
  background-color: var(--color-primary-main);
}

.button--contained-primary:hover {
  background-color: var(--color-primary-dark);
}

.button--contained-secondary {
  color: var(--color-secondary-contrast-text);
  background-color: var(--color-secondary-main);
}

.button--contained-secondary:hover {
  background-color: var(--color-yellow-500);
}

.button--outlined {
  background-color: var(--color-transparent);
  border-width: var(--border-width-default);
  border-style: solid;
}

.button--outlined-default {
  color: var(--color-text-primary);
  border-color: var(--border-color-default);
}

.button--outlined-default:hover {
  background-color: var(--color-grey-300);
}

.button--outlined-primary {
  color: var(--color-primary-main);
  border-color: var(--color-primary-main);
}

.button--outlined-primary:hover {
  background-color: var(--color-blue-50);
}

.button--outlined-secondary {
  color: var(--color-secondary-dark);
  border-color: var(--color-secondary-dark);
}

.button--outlined-secondary:hover {
  background-color: var(--color-yellow-100);
}

.button--disabled {
  cursor: default;
  pointer-events: none;
}

.button--disabled-contained {
  color: var(--color-state-disabled-text);
  background-color: var(--color-state-disabled);
}

.button--disabled-outlined {
  color: var(--color-state-disabled-text);
  border-color: var(--color-state-disabled);
}
